body{
    background-image: linear-gradient(to top, #009dff, #e0f3ff);}
#top_of_the_page{
    display: flex;
    width: 100%}      
nav{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;}
    /*display: flex;
    justify-content: space-around;}*/
h1{
    text-align: center;
}
h2{
    text-align: left;
}
textarea{
    width: 85%;
}
#bloc{
    width: 80%;
    margin:auto;
    /*background-color: rgb(222, 184, 75);*/
    background-color: transparent;
}
#text{
    display: flex;
    justify-content: space-between;}
#main { /*ici, main et footer permettent d'avoir un bas de page fixe*/
    min-height:50%;
    position:relative;
    padding-bottom:50px;   /* Hauteur du pied de page */
 }
footer{
    position:absolute;
   bottom:0;  /* on le colle en bas */
   width:50%;
   height:5%;
}
